include ~src/components/site/header/header.pug
include ~src/components/site/registration-section/registration-section.pug

mixin registration-wrapper
  .registration-wrapper
    .registration-wrapper__header
      +header
    .registration-wrapper__section-container
      +registration-section