{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "globals": {
    "window" : true,
    "document" : true,
    "console" : true,
    "alert" : true,
    "$": true
  },
  "rules": {
    "no-new": 0
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["src", "./src"]
        ],
        "extensions": [".js"]
      }
    }
  }
}