mixin stages({ currentStage, stages })
    ul.stages
        - for(let i = 1; i <= stages; i++) {
            li.stages__item(class= i <= currentStage ? "stages__item--active" : "")= i
            if i !== stages 
                div.stages__line(class= i < currentStage ? "stages__line--active" : "")
        - }