mixin button({ text, color, size })
  button.main-btn(class= color === "orange" ? "main-btn_orange" : "",
                  class= color === "green" ? "main-btn_green" : "",
                  class= size === "big" ? "main-btn_big" : "",
                  class= size === "standart" ? "main-btn_standart" : "")= text
