mixin button({ text, color, size })
  -
    let buttonClass = "main-btn"
    buttonClass += color === "orange" ? " main-btn_orange" : ""
    buttonClass += color === "green" ? " main-btn_green" : ""
    buttonClass += size === "big" ? " main-btn_big" : ""
    buttonClass += size === "standart" ? " main-btn_standart" : ""
  button(class = buttonClass)= text
