mixin button(name, color, size)
    button.main-btn(class= color === "orange" ? "main-btn--orange" : "",
                    class= color === "green" ? "main-btn--green" : "",
                    class= size === "big" ? "main-btn--big" : "",
                    class= size === "standart" ? "main-btn--standart" : "")= name
