include ../base.pug
include ../../components/site/header/header.pug
include ../../components/site/section/section.pug
include ../../components/site/features/features.pug
include ../../components/site/main-news/main-news.pug
include ../../components/kit/search/search.pug
include ../../components/kit/percent/percent.pug
include ../../components/kit/video/video.pug
include ../../components/kit/messaging/messaging.pug
include ../../components/kit/button/button.pug
include ../../components/kit/news/news.pug
include ../../components/kit/event/event.pug

+base('Главная')
body
  .wrapper
    .wrapper__header
      +header
    h1.main-title Школа танцев "MOVEMENT"
    p.main-description Научим танцевать уже после первого урока! Опытнейшие педагоги ждут Вас на занятиях!
    .wrapper__section-container
      +section({ title: 'Что такое "MOVEMENT" в процентах?' })
      +features({ featuresData: [
          {
            label: 'довольных учеников',
            percent: 98,
          },
          {
            label: 'преподавателей из стран Латинской Америки',
            percent: 34,
          },
          {
            label: 'полностью оборудованные залы',
            percent: 100,
          },
          {
            label: 'учеников остаются с нами после первого занятия',
            percent: 83,
          },
        ]
      })
      +section({ title: 'Посмотрите, в каком прекрасном городе мы работаем' })
        +video({ url: 'winter.mp4', title: 'Санкт-Петербург', author: 'by Time Lab' })
      +section({ title: 'Возможно, Вы в одном клике от мечты...' })
        +messaging({ name: 'Sarah Brown', img: 'user2.jpg', text: 'Не знаете, с чего начать знакомство с танцами? Танцевальная База и Техника Танца позволят вам лучше почувствовать свое тело и подготовиться к занятиям более сложных направлений', large: true })
      +section({ title: 'Последние новости нашей школы' })
        +main-news


