include ../base.pug
include ../../components/header/header.pug
include ../../components/search/search.pug
include ../../components/percent/percent.pug
include ../../components/video/video.pug
include ../../components/messaging/messaging.pug
include ../../components/button/button.pug
include ../../components/news/news.pug
include ../../components/event/event.pug
include ../../components/section/section.pug

+base('Главная')
body
  .wrapper
    +header
    h1.main-title Школа танцев "MOVEMENT"
    p.main-description Научим танцевать уже после первого урока! Опытнейшие педагоги ждут Вас на занятиях!
    +section({ name: 'about', title: 'Что такое "MOVEMENT" в процентах?' })
      ul.about__features
        li.about__feature
          +percent({value: 98, parent: 'about' })
            span.about__feature-name довольных учеников
        li.about__feature
          +percent({value: 34, parent: 'about' })
            span.about__feature-name преподавателей из стран Латинской Америки
        li.about__feature
          +percent({ value: 100, parent: 'about' })
            span.about__feature-name полностью оборудованные залы
        li.about__feature
          +percent({ value: 83, parent: 'about' })
            span.about__feature-name учеников остаются с нами после первого занятия
      +section({ name: 'show-us', title: 'Посмотрите, в каком прекрасном городе мы работаем' })
        +video({ url: 'winter.mp4', title: 'Санкт-Петербург', author: 'by Time Lab' })
      +section({ name: 'contact-us', title: 'Возможно, Вы в одном клике от мечты...' })
        +messaging({ name: 'Sarah Brown', img: 'user2.jpg', text: 'Не знаете, с чего начать знакомство с танцами? Танцевальная База и Техника Танца позволят вам лучше почувствовать свое тело и подготовиться к занятиям более сложных направлений', large: true })
      +section({ name: 'main-news', title: 'Последние новости нашей школы' })
        .main-news__container
          .main-news__item
            +news({ title: 'Скидка 20%', img: 'news1.jpg', date: '18  March  2019', text: 'При покупке абонемента с бОльшим количеством занятий, чем в предыдущем абонементе' })
          .main-news__item
            +event({ day: '24', month: 'Feb', title: 'Танцевальный марафон', img: 'event1.jpg', text: 'Танцуем весь день!' })
          .main-news__item
            +news({ title: 'Новый педагог', img: 'news1.jpg', date: '18  March  2019', text: 'РЕГГЕТОН с нашим новым преподавателем Дэнисом Кабрера поможет вам почувствовать свою музыкальность' })


