include ~src/pages/base.pug
include ~src/components/site/navigation/navigation.pug
include ~src/components/site/header/header.pug
include ~src/components/site/section/section.pug
include ~src/components/site/features/features.pug
include ~src/components/site/main-news/main-news.pug
include ~src/components/kit/search/search.pug
include ~src/components/kit/percent/percent.pug
include ~src/components/kit/video/video.pug
include ~src/components/kit/messaging/messaging.pug
include ~src/components/kit/button/button.pug
include ~src/components/kit/news/news.pug
include ~src/components/kit/event/event.pug
include ~src/components/site/title/title.pug
include ~src/components/site/main-info/main-info.pug
include ~src/components/site/main-wrapper/main-wrapper.pug

+base('Главная')
body
  +main-wrapper