include ../base.pug
include ../../components/search/search.pug
include ../../components/header/header.pug
include ../../components/section/section.pug
include ../../components/map/map.pug
include ../../components/messaging/messaging.pug
include ../../components/button/button.pug

+base('Контакты')
body
    .wrapper
        +header
        +section('contacts', 'Контакты')
            +map(59.9405947, 30.3254693, 'Санкт-Петербург, Конюшенная площадь, дом 2')
        .info
            .info__text
                p.info__address Россия, Санкт-Петербург, Конюшенная площадь, дом 2 (помещение 40)
                p.info__address Рядом с клубами "Циркус" и "Духлесс", метро "Канал Грибоедова", внутренний двор, либо вход под арку с канала Грибоедова д. 5
                p.info__time Понедельник - пятница 17:00 - 22:00, суббота - воскресенье 15:00 - 20:00
            +messaging('Maria Ivanova', 'user2.jpg', 'Напишите нам, мы ответим в ближайшее время')
