include ~src/pages/base.pug
include ~src/components/site/section/section.pug
include ~src/components/site/navigation/navigation.pug
include ~src/components/site/header/header.pug
include ~src/components/site/info/info.pug
include ~src/components/kit/search/search.pug
include ~src/components/kit/map/map.pug
include ~src/components/kit/messaging/messaging.pug
include ~src/components/kit/button/button.pug
include ~src/components/site/title/title.pug
include ~src/components/site/contacts-wrapper/contacts-wrapper.pug


+base('Контакты')
body
  +contacts-wrapper
