include ../base.pug
include ../../components/site/section/section.pug
include ../../components/site/header/header.pug
include ../../components/site/info/info.pug
include ../../components/kit/search/search.pug
include ../../components/kit/map/map.pug
include ../../components/kit/messaging/messaging.pug
include ../../components/kit/button/button.pug


+base('Контакты')
body
  .wrapper
    .wrapper__header
      +header
    .wrapper__section-container
      +section({ title: 'Контакты' })
        +map({ lat: 59.9405947, lng: 30.3254693, address: 'Санкт-Петербург, Конюшенная площадь, дом 2' })
    .wrapper__section-container
      +info
