@font-face {
  font-family: 'Lato';
  src: url('~src/fonts/Lato-Regular.woff2') format('woff2'),
      url('~src/fonts/Lato-Regular.woff') format('woff'),
      url('~src/fonts/Lato-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('~src/fonts/Lato-Black.woff2') format('woff2'),
      url('~src/fonts/Lato-Black.woff') format('woff'),
      url('~src/fonts/Lato-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('~src/fonts/Lato-Bold.woff2') format('woff2'),
      url('~src/fonts/Lato-Bold.woff') format('woff'),
      url('~src/fonts/Lato-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('~src/fonts/Lato-Light.woff2') format('woff2'),
      url('~src/fonts/Lato-Light.woff') format('woff'),
      url('~src/fonts/Lato-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('~src/fonts/sourcesanspro.woff2') format('woff2'),
      url('~src/fonts/sourcesanspro.woff') format('woff'),
      url('~src/fonts/sourcesanspro.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('~src/fonts/source-sans-pro-light.woff2') format('woff2'),
      url('~src/fonts/source-sans-pro-light.woff') format('woff'),
      url('~src/fonts/source-sans-pro-light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}