@import './variables.scss';

* {
  outline-color: $orange;
}
html {
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 15px;
  }

  @media (max-width: 480px) {
    font-size: 14px;
  }
}
body {
  color: $darkgrey;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 .625rem;

  &__header {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  &__section-container {
    margin-bottom: 4rem;
  }

  &_index {
    max-width: 38.125rem;
    margin: 0 auto;
    padding: 0;

    @media (max-width: 768px) {
      max-width: 90%;
    }
  }
}