mixin form
  form.form(action="#")
    .form__wrapper
      input.form__input.js-form__input-name(type="text", placeholder="Your Name", require)
      .form__warning.js-form__warning-name
    .form__wrapper
      input.form__input.js-form__input-email(type="email", placeholder="Your Email", require)
      .form__warning.js-form__warning-email
    textarea.form__message(placeholder="Your Message", require)
    block
    .form__button
      +button({ text: 'Submit', size: 'big' })