mixin map({ lat, lng, address })
  .map
    .map__container#map(data-lat= lat, data-lng= lng)
    .map__footer
      span.map__greeting Meet us!
      address.map__address= address
      .map__icons
        span.map__icons-item.map__icons-item-target
        span.map__icons-item.map__icons-item-pin