mixin map({ lat, lng, address })
  .map.js-map
    .map__container.map__container.js-map__container(data-lat= lat, data-lng= lng)
    .map__footer
      span.map__greeting Meet us!
      address.map__address= address
      .map__icons
        span.map__icons-item.map__icons-item_type_target
        span.map__icons-item.map__icons-item_type_pin