mixin header()
  .header
    nav.header__navigation.navigation
      a.navigation__link(href="main.html") Главная
      a.navigation__link(href="registration.html") Запись
      a.navigation__link(href="contacts.html") Контакты
      a.navigation__link(href="teachers.html") Преподаватели
    +search({ placeholder: 'Search here...' })