.main-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 .625rem;

  &__header {
    margin-top: 2rem;
    margin-bottom: 4.5rem;
  }

  &__section-container {
    margin-bottom: 4rem;
  }
}