.main-info {
  &__title {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-bottom: 1.5rem;
    letter-spacing: .4px;
    font-size: 3rem;
  }

  &__description {
    margin: 0;
    margin-bottom: 4rem;
    text-transform: uppercase;
    text-align: center;
  }
}