mixin main-info({ title, description })
  .main-info
    h1.main-info__title Школа танцев "MOVEMENT"
    p.main-info__description Научим танцевать уже после первого урока! Опытнейшие педагоги ждут Вас на занятиях!