include ~src/components/kit/button/button.pug
include ~src/components/kit/arrow-button/arrow-button.pug
include ~src/components/kit/percent/percent.pug
include ~src/components/kit/diagram/diagram.pug
include ~src/components/kit/slider-range/slider-range.pug
include ~src/components/kit/stages/stages.pug
include ~src/components/kit/news/news.pug
include ~src/components/kit/event/event.pug
include ~src/components/kit/map/map.pug
include ~src/components/kit/calendar/calendar.pug
include ~src/components/kit/messaging/messaging.pug
include ~src/components/kit/video/video.pug

include ~src/components/site/title/title.pug
include ~src/components/site/form-elements/form-elements.pug
include ~src/components/site/searches/searches.pug
include ~src/components/site/users/users.pug
include ~src/components/site/section-wrapper/section-wrapper.pug

mixin wrapper(type)
  .wrapper
    .wrapper__buttons
      .wrapper__buttons-title
        +title('Standard buttons')
      .wrapper__buttons-row
        +button({ text: 'button', theme: 'green'})
        +button({ text: 'button', size: 'big', theme: 'green' })
        +button({ text: 'button', theme: 'orange', size: 'big' })
        +button({ text: 'button', theme: 'orange'})
      .wrapper__buttons-row
        +button({ text: 'button', theme: 'green'})
        +button({ text: 'button', size: 'big', theme: 'green' })
        +button({ text: 'button', theme: 'orange', size: 'big' })
        +button({ text: 'button', theme: 'orange'})
      .wrapper__buttons-row
        +button({ text: 'button'})
        +button({ text: 'button', size: 'big' })
        +button({ text: 'button', theme: 'white-orange', size: 'big' })
        +button({ text: 'button', theme: 'white-orange'})
    .wrapper__arrows
      .wrapper__arrows-title
        +title('Arrow buttons')
      .wrapper__arrows-row
        +arrow-button()
        +arrow-button({ direction: 'right' })
        +arrow-button({ disable: true })
        +arrow-button({ disable: true, direction: 'right' })
        +arrow-button({ theme: 'green' })
        +arrow-button({ direction: 'right', theme: 'green' })
    .wrapper__percentage
      .wrapper__percentage-title
        +title('Percentages / pie chart')
      .wrapper__percentage-row
        +percent({ value: 0 })
        +percent({ value: 38 })
        +percent({ value: 62 })
        +percent({ value: 89 })
        +diagram({ values: [11, 26, 30] })
    .wrapper__sliders
      .wrapper__sliders-title
        +title('Sliders')
      .wrapper__sliders-row
        +sliderRange({ name: 'flowing', step: 1, value: 40 })
        +sliderRange({ name: 'steps', step: 25, value: 75 })
    .wrapper__stage
      .wrapper__stage-title
        +title('Stages')
      .wrapper__stage
        +stages({ currentStage: 3, stages: 5 })
    .wrapper__form-elements
      +form-elements({ title: 'Form elements' })
    +section-wrapper
      .wrapper__searches
        +searches({ title: 'Search / Drop down' })
      .wrapper__users
        +users({ title: 'User profile' })
    .wrapper__news
      .wrapper__news-title
        +title('News & events')
      .wrapper__news-container
        +news({ title: 'It’s all going downhill', img: 'news1.jpg', date: '24  AUGUST  2013', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.' })
        +event({ day: '24', month: 'Aug', title: 'THIS IS THE TITLE', img: 'event1.jpg', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.' })
    .wrapper__location
      .wrapper__location-title
        +title('Location')
      .wrapper__location-container
        +map({ lat: 37.796189, lng: -122.415034, address: '1259  CALIFORNIA ST San Francisco, CA' })
    .wrapper__container
      .wrapper__calendar
        .container__title
          +title('Calendar')
        +calendar
      .wrapper__messages
        .container__title
          +title('Messaging')
        +messaging({ name: 'Sarah Brown', img: 'user2.jpg', text: 'Hey! So are we cool to meet at the art gallery? Say 8pm' })
    .wrapper__video
      .wrapper__video-title
        +title('Video')
      .wrapper__video-container
        +video({ url: 'winter.mp4', title: 'New Zealand Landscapes Timelapse', author: 'from Bevan Percival' })