include ../base.pug
include ../../components/search/search.pug
include ../../components/header/header.pug
include ../../components/section/section.pug
include ../../components/form/form.pug
include ../../components/button/button.pug
include ../../components/dropdown/dropdown.pug
include ../../components/tick-box/tick-box.pug
include ../../components/toggle/toggle.pug
include ../../components/slider-range/slider-range.pug
include ../../components/calendar/calendar.pug

+base('Запись')
body
  .wrapper
    +header
    +section({ name: 'registration', title: 'Запись на пробное занятие' })
      .registration__content
        +calendar
        +form
          +dropdown({ placeholder: 'Выберите направление', name: 'type', options: ['Современные танцы', 'Латиноамериканские танцы', 'Аргентинское танго', 'Классическая хореография', 'Pole Dance'] })
          +tickBox({ text: 'Я мужчина', name: 'sex' })
          +tickBox({ text: 'Я женщина', name: 'sex' })
          +toggle({ text: 'Подписаться на рассылку', name: 'mail' })
          label.registration__slider-label Оцените качество, полноту и доступность информации на нашем сайте:
          +sliderRange({ name: 'flowing', step: 1, value: 90 }) 
