include ../base.pug
include ../../components/site/navigation/navigation.pug
include ../../components/site/header/header.pug
include ../../components/site/registration-section/registration-section.pug
include ../../components/site/section/section.pug
include ../../components/kit/search/search.pug
include ../../components/kit/form/form.pug
include ../../components/kit/button/button.pug
include ../../components/kit/dropdown/dropdown.pug
include ../../components/kit/tick-box/tick-box.pug
include ../../components/kit/toggle/toggle.pug
include ../../components/kit/slider-range/slider-range.pug
include ../../components/kit/calendar/calendar.pug

+base('Запись')
body
  .wrapper
    .wrapper__header
      +header
    .wrapper__section-container
      +registration-section