@import 'src/style-config/variables.scss';

.messaging {
  max-width: 18rem;
  width: 100%;
  background-color: $whitestone;

  &_size_large {
    max-width: 25rem;
  }

  @media (max-width: 360px) {
    max-width: 100%;
  }

  &__title {
    font-family: 'SourceSansPro';
    font-weight: 300;
    font-size: 2.125rem;
    background-color: $green;
    text-align: center;
    border-bottom: 2.125rem solid $malachite;
    padding-top: 1.05rem;
    padding-bottom: 1.5rem;
    color: $white;
    letter-spacing: -.9px;
    border-radius: 3px 3px 0 0;
    word-break: break-all;
  }

  &__user {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 1.6875rem;
    margin-top: -3rem;
    margin-bottom: .6625rem;
  }

  &__btn {
    border: none;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;

    &-message {
      height: 1.312rem;
      width: 1.25rem;
      background-image: url('./img/chat-icon.png');
      margin-bottom: .5rem;
    }

    &-camera {
      height: 1.25rem;
      width: 1.5rem;
      background-image: url('./img/camera-icon.png');
      margin-bottom: .6rem;
    }
  }

  &__image {
    border-radius: 50%;
    border: .3125rem solid $lightgrey;
  }

  &__message {
    position: relative;
    margin: 0 1.3875rem;
    margin-bottom: 1.0625rem;
    background-color: $white;
    color: $anthracite;
    font-weight: bold;
    font-size: .78125rem;
    padding-top: 1.1675rem;
    padding-bottom: 1.2rem;
    padding-left: 1.25rem;
    padding-right: 1.8rem;
    border-radius: .375rem;
    letter-spacing: .55px;

    &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 1px;
      background-color: transparent;
      border: .375rem solid transparent;
      border-bottom-color: $white;
      left: calc(50% - 12px);
      top: -.8rem;
    }
  }

  &__response {
    margin: 0 1.3875rem;
    display: flex;
    flex-direction: column;

    &-btn {
      margin-bottom: 1.625rem;
      display: flex;
  
      .main-btn {
        width: 100%;
      }
    }
  }

  &__text {
    background-color: $lightgrey;
    border: .1875rem solid $white;
    border-radius: .375rem;
    box-sizing: border-box;
    height: 5.5rem;
    resize: none;
    padding-top: 1.1rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
    margin-bottom: .99rem;
    color: $anthracite;
    font-weight: bold;
    font-size: .78125rem;
    letter-spacing: .5px;
  }
}