.title {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  letter-spacing: .075rem;
  margin: 0;
}
.wrapper {
  &__buttons {
    margin-top: 5.125rem;
    margin-bottom: 3.56rem;
    padding: 0 4.5rem;

    @media (max-width: 650px) {
      padding: 0;
    }
  }

  &__arrows {
    padding-left: 5.85rem;
    padding-right: 6rem;
    margin-bottom: 2.9rem;

    @media (max-width: 650px) {
      padding: 0;
    }
  }

  &__percentage {
    margin-bottom: 2.25rem;
  }

  &__sliders {
    margin-bottom: 3.85rem;
  }

  &__stage {
    margin-bottom: 3.4rem;
  }

  &__form-elements {
    margin-bottom: 4.2rem;
  }

  &__news-section {
    margin-bottom: 3.1rem;
  }

  &__location {
    margin-bottom: 3.25rem;
  }

  &__calendar {
    padding-left: .45rem;

    @media (max-width: 650px) {
      padding: 0;
      margin-bottom: 2rem;
    }
  }

  &__messages {
    padding-right: .55rem;

    @media (max-width: 650px) {
      padding: 0;
    }
  }

  &__container {
    margin-bottom: 3.3rem;
  }

  &__video-section {
    margin-bottom: 6.25rem;
  }
}
.buttons {
  &__title {
    margin-bottom: 4.25rem;
  }

  &__wrapper-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.20rem;
    flex-wrap: wrap;

    @media (max-width: 420px) {
      flex-direction: column;
      align-items: center;
    }

    .main-btn {
      @media (max-width: 650px) {
        margin-bottom: 1rem;
      }
    }
  }
}
.arrows {
  &__title {
    margin-bottom: 2.1rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.percentage {
  &__title {
    margin-bottom: 1.49rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: .9rem;

    @media (max-width: 650px) {
      padding: 0;
    }
  }
}
.sliders {
  &__title {
    margin-bottom: 2.7rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: .4rem;
    padding-right: .8rem;

    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    .slider-range {
      @media (max-width: 650px) {
        margin-bottom: 2rem;
      }
      
    }
  }
}
.stage {
  &__title {
    margin-bottom: 1.5rem;
  }

  &__wrapper {
    padding-left: .37rem;
  }
}
.form-elements {
  &__title {
    margin-bottom: 2.95rem;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: .45rem;

    @media (max-width: 650px) {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }

    &-title {
      margin: 0;
      margin-bottom: 1.8rem;
      line-height: 1.1;
      margin-left: .55rem;
    }

    &-left {
      margin-right: 5.7rem;

      @media (max-width: 650px) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
  }

  &__toggles {
    display: flex;
    min-width: 8.7rem;
    justify-content: space-between;
    margin-bottom: 2.6rem;
  }

  &__ticks {
    display: flex;
    justify-content: space-between;
    width: 4.35rem;
    margin-left: 1.9rem;
  }
}
.section-wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: .45rem;
  padding-right: .6rem;
  margin-bottom: 4.2rem;

  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
.searches {
  width: 18.53rem;
  
  &__title {
    margin-bottom: 1.15rem;
    padding-right: .4rem;
  }

  &__wrapper {
    margin-bottom: 1rem;
  }
}
.users {
  &__title {
    padding-right: 1rem;
    margin-bottom: 1.7rem;
  }

  &__wrapper {
    margin-bottom: 1.5rem;
  }
}
.news-section {
  &__title {
    margin-bottom: 1.9rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: .45rem;
    padding-right: .55rem;

    @media (max-width: 650px) {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }

    .news {
      @media (max-width: 650px) {
        margin-bottom: 2rem;
      }
    }
  }
}
.location {
  &__title {
    margin-bottom: 1.75rem;
  }

  &__wrapper {
    padding-left: .45rem;
  }
}
.container {
  display: flex;
  justify-content: space-between;

  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 1.4rem;
  }
}
.video-section {
  &__title {
    margin-bottom: 1.3rem;
  }

  &__wrapper {
    padding-left: .45rem;
  }
}