include ../base.pug
include ../../components/button/button.pug
include ../../components/arrow-button/arrow-button.pug
include ../../components/percent/percent.pug
include ../../components/diagram/diagram.pug
include ../../components/stages/stages.pug
include ../../components/slider-range/slider-range.pug
include ../../components/form/form.pug
include ../../components/tick-box/tick-box.pug
include ../../components/user/user.pug

+base('Index')
body
    .container
        +button('button', 'green', 'standart')
        +button('button', 'orange', 'standart')
        +button('button', 'orange', 'big')
        +button('button', 'green', 'big')
    .container
        +arrowBtn(true, 'next')
        +arrowBtn(true, 'prev')
        +arrowBtn(false, 'prev')
        +arrowBtn(false, 'next')
    .container
        +percent(0)
        +percent(38)
        +percent(62)
        +percent(89)
        +diagram(null , 11, 26, 30)
    .container
        +stages(3, 5)
    .container
        +sliderRange('flowing', 1, 40)
        +sliderRange('steps', 25, 75)
    .container
        +form
    .container
        +tickBox('tick')
    .container
        +user('user1.jpg', 'John Smith', 'UX  DESIGNER')
        +user('user2.jpg', 'Sarah Brown', 'DEVELOPER', 'green')
    .container
