include ../base.pug
include ../../components/button/button.pug
include ../../components/arrow-button/arrow-button.pug
include ../../components/percent/percent.pug
include ../../components/diagram/diagram.pug
include ../../components/stages/stages.pug
include ../../components/slider-range/slider-range.pug
include ../../components/form/form.pug
include ../../components/tick-box/tick-box.pug
include ../../components/user/user.pug
include ../../components/toggle/toggle.pug
include ../../components/search/search.pug
include ../../components/dropdown/dropdown.pug
include ../../components/news/news.pug

+base('Index')
body
    .container
        +button('button', 'green', 'standart')
        +button('button', 'orange', 'standart')
        +button('button', 'orange', 'big')
        +button('button', 'green', 'big')
    .container
        +arrowBtn(true, 'next')
        +arrowBtn(true, 'prev')
        +arrowBtn(false, 'prev')
        +arrowBtn(false, 'next')
    .container
        +percent(0)
        +percent(38)
        +percent(62)
        +percent(89)
        +diagram(null , 11, 26, 30)
    .container
        +stages(3, 5)
    .container
        +sliderRange('flowing', 1, 40)
        +sliderRange('steps', 25, 75)
    .container
        +form
    .container
        +tickBox('tick')
    .container
        +user('user1.jpg', 'John Smith', 'UX  DESIGNER')
        +user('user2.jpg', 'Sarah Brown', 'DEVELOPER', 'green')
    .container
        +toggle('toggle')
    .container
        +search('Search')
    .container
        +dropdown('Choose An Option', 'select', 'This is option 1', 'This is option 2', 'This is option 3', 'This is option 4')
    .container
        +news('It’s all going downhill', 'news1.jpg', '24  AUGUST  2013', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.')
    .container
