include ~src/pages/base.pug
include ~src/components/kit/button/button.pug
include ~src/components/kit/arrow-button/arrow-button.pug
include ~src/components/kit/percent/percent.pug
include ~src/components/kit/diagram/diagram.pug
include ~src/components/kit/stages/stages.pug
include ~src/components/kit/slider-range/slider-range.pug
include ~src/components/kit/form/form.pug
include ~src/components/kit/tick-box/tick-box.pug
include ~src/components/kit/user/user.pug
include ~src/components/kit/toggle/toggle.pug
include ~src/components/kit/search/search.pug
include ~src/components/kit/dropdown/dropdown.pug
include ~src/components/kit/news/news.pug
include ~src/components/kit/event/event.pug
include ~src/components/kit/map/map.pug
include ~src/components/kit/calendar/calendar.pug
include ~src/components/kit/messaging/messaging.pug
include ~src/components/kit/video/video.pug

include ~src/components/site/wrapper/wrapper.pug
include ~src/components/site/form-elements/form-elements.pug
include ~src/components/site/searches/searches.pug
include ~src/components/site/users/users.pug
include ~src/components/site/section-wrapper/section-wrapper.pug
include ~src/components/site/title/title.pug

+base('Index')
body
  +wrapper