include ../base.pug
include ../../components/kit/button/button.pug
include ../../components/kit/arrow-button/arrow-button.pug
include ../../components/kit/percent/percent.pug
include ../../components/kit/diagram/diagram.pug
include ../../components/kit/stages/stages.pug
include ../../components/kit/slider-range/slider-range.pug
include ../../components/kit/form/form.pug
include ../../components/kit/tick-box/tick-box.pug
include ../../components/kit/user/user.pug
include ../../components/kit/toggle/toggle.pug
include ../../components/kit/search/search.pug
include ../../components/kit/dropdown/dropdown.pug
include ../../components/kit/news/news.pug
include ../../components/kit/event/event.pug
include ../../components/kit/map/map.pug
include ../../components/kit/calendar/calendar.pug
include ../../components/kit/messaging/messaging.pug
include ../../components/kit/video/video.pug

+base('Index')
body
  .container
    +button({ text: 'button', color: 'green', size: 'standart' })
    +button({ text: 'button', color: 'orange', size: 'standart' })
    +button({ text: 'button', color: 'orange', size: 'big' })
    +button({ text: 'button', color: 'green', size: 'big' })
  .container
    +arrowBtn({active: true, direction: 'next'})
    +arrowBtn({active: true, direction: 'prev'})
    +arrowBtn({active: false, direction: 'prev'})
    +arrowBtn({active: false, direction: 'next'})
  .container
    +percent({ value: 0 })
    +percent({ value: 38 })
    +percent({ value: 62 })
    +percent({ value: 89 })
    +diagram({ values: [11, 26, 30] })
  .container
    +stages({ currentStage: 3, stages: 5 })
  .container
    +sliderRange({ name: 'flowing', step: 1, value: 40 })
    +sliderRange({ name: 'steps', step: 25, value: 75 })
  .container
    +form
  .container
    +tickBox({ text: 'Tick', name: 'tick' })
  .container
    +user({ img: 'user1.jpg', name: 'John Smith', profession: 'UX  DESIGNER' })
    +user({ img: 'user2.jpg', name: 'Sarah Brown', profession: 'DEVELOPER', style: 'green' })
  .container
    +toggle({ text: 'Toggle', name: 'toggle' })
  .container
    +search({ placeholder: 'Search' })
  .container
    +dropdown({ placeholder: 'Choose An Option', name: 'select', options: ['This is option 1', 'This is option 2', 'This is option 3', 'This is option 4'] })
  .container
    +news({ title: 'It’s all going downhill', img: 'news1.jpg', date: '24  AUGUST  2013', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.' })
    +event({ day: '24', month: 'Aug', title: 'THIS IS THE TITLE', img: 'event1.jpg', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.' })
  .container
    +map({ lat: 37.796189, lng: -122.415034, address: '1259  CALIFORNIA ST San Francisco, CA' })
  .container
    +calendar
    +messaging({ name: 'Sarah Brown', img: 'user2.jpg', text: 'Hey! So are we cool to meet at the art gallery? Say 8pm', large: false })
  .container
    +messaging({ name: 'Sarah Brown', img: 'user2.jpg', text: 'Hey! So are we cool to meet at the art gallery? Say 8pm', large: true })
  .container
    +video({ url: 'winter.mp4', title: 'New Zealand Landscapes Timelapse', author: 'from Bevan Percival' })
  .container