@import '../../components/button/button.scss';
@import '../../components/arrow-button/arrow-button.scss';
@import '../../components/percent/percent.scss';
@import '../../components/diagram/diagram.scss';
@import '../../components/stages/stages.scss';
@import '../../components/slider-range/slider-range.scss';
@import '../../components/form/form.scss';
@import '../../components/tick-box/tick-box.scss';
@import '../../components/user/user.scss';
@import '../../components/toggle/toggle.scss';
@import '../../components/search/search.scss';
@import '../../components/dropdown/dropdown.scss';
@import '../../components/news/news.scss';
@import '../../components/event/event.scss';
@import '../../components/map/map.scss';
@import '../../components/calendar/calendar.scss';
@import '../../components/messaging/messaging.scss';
@import '../../components/video/video.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @media (max-width: 480px) {
      min-height: 10rem;
  }
}