include ../base.pug
include ../../components/button/button.pug
include ../../components/arrow-button/arrow-button.pug
include ../../components/percent/percent.pug
include ../../components/diagram/diagram.pug
include ../../components/stages/stages.pug
include ../../components/slider/slider.pug

+base('Index')
body
    .container
        +button('button', 'green', 'standart', true)
        +button('button', 'orange', 'standart', true)
        +button('button', 'orange', 'big')
        +button('button', 'green', 'big')
    .container
        +arrowBtn(true, 'next')
        +arrowBtn(true, 'prev')
        +arrowBtn(false, 'prev')
        +arrowBtn(false, 'next')
    .container
        +percent(0)
        +percent(38)
        +percent(62)
        +percent(89)
        +diagram(null , 11, 26, 30)
    .container
        +stages(3, 5)
    .container
        +slider(40, 'slider')
