@import '../../../style-config/variables.scss';

.calendar {
  width: 17.5rem;

  @media (max-width: 360px) {
    width: 100%;
  }

  &__day {
    text-align: center;
    border: none;
    width: 100%;
    box-sizing: border-box;
    height: 6.8125rem;
    background-color: $orange;
    color: $white;
    font-family: 'Lato', sans-serif;
    font-size: 5rem;
    font-weight: 300;
    padding-top: 1rem;
    padding-bottom: 0;
    border-radius: 3px 3px 0 0;
  }

  &__btn {
    width: 100%;
    box-sizing: border-box;
    padding-left: 1.25rem;
    padding-top: 1.2rem;
    padding-bottom: .93rem;
    background-color: $lightgrey;
    border: none;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-size: .8125rem;
    letter-spacing: 1px;
    color: $anthracite;
    text-transform: uppercase;
    text-align: left;
    border-radius: 0 0 3px 3px;
  }
}

.ui-datepicker-header {
  position: relative;
  background-color: $coral;
  color: $white;
  text-align: center;
}
.ui-datepicker-title {
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: .5rem;
  padding-bottom: .4rem;
  letter-spacing: -.8px;
}
.ui-datepicker-prev {
  position: absolute;
  font-size: 0;
  width: .625rem;
  height: .625rem;
  border: 2px solid $white;
  border-bottom: none;
  border-right: none;
  transform: rotate(-45deg);
  top: 1.05rem;
  left: 1.05rem;
  cursor: pointer;
}
.ui-datepicker-next {
  @extend .ui-datepicker-prev;
  right: 1.25rem;
  left: auto;
  transform: rotate(135deg);
}
.ui-datepicker-year {
  display: none;
}
.ui-datepicker-calendar {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    background-color: $orange;
    color: $white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: .5625rem;

    tr {
      height: 1.6875rem;

      th {
        padding-top: .4rem;
        letter-spacing: 1px;
      }
    }
  }

  tbody {
    background-color: $whitestone;
  }

  td {
    border: 1px solid $white;
    text-align: center;
    width: 2.4775rem;
    height: 2.4775rem;
    box-sizing: border-box;

    &:last-child {
      border-right: none;
    }

    &:first-child {
      border-left: none;
    }
  }

  .ui-state-default {
    color: $anthracite;
    text-decoration: none;
    font-family: 'SourceSansPro', sans-serif;
    font-size: 1.25rem;
  }
  .ui-datepicker-other-month .ui-state-default {
    color: $white;
  }
  .ui-datepicker-current-day {
    background-color: $orange;

    .ui-state-default {
      color: $white;
    }
  }
}