mixin sliderRange({ name, step, value })
  .slider-range(class=`slider_${name} js-slider-range` data-value= value data-step=step)
    if name === 'flowing'
      span(class="slider-range__value js-slider-range__value" data-value= value)