.navigation__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.navigation__link {
    color: $green;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}