@import '../../../style-config/variables.scss';

.tick-box__element {
  position: relative; 
  width: 1.43rem;
  height: 1.43rem;
  margin-left: .4rem;

  &::before {
    position: absolute;
    content: '';
    width: 1.43rem;
    height: 1.43rem;   
    background-color: $lightgrey;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    content: '';
    width: .5625rem;
    height: .25rem;
    top: .4rem;
    left: .4rem;
    border: 2px solid $grey;
    border-right: none;
    border-top: none;
    transform: rotate(-45deg);

    @media (max-width: 768px) {
      top: .45rem;
      left: .35rem;
    }
  }
}
.tick-box__input:checked + .tick-box__element::before {
  background-color: $green;
}
.tick-box__input:checked + .tick-box__element::after {
  border-color: $white;
}
.tick-box__label {
  display: flex;
  align-items: center;
}