mixin tickBox({ text, name, isChecked= false })
  .tick-box
    label.tick-box__label= text
      input.tick-box__input(type="radio", name= name, value= text, checked= isChecked)
      .tick-box__element(tabindex="0")