mixin dropdown({ placeholder, name, options })
  .dropdown.js-dropdown
    select(class="dropdown__select js-dropdown__select", name= name, id= name)
      option.dropdown__option(disabled, selected, hidden)= placeholder
      each item in options
        option.dropdown__option= item