mixin header()
    .header
        nav.navigation
            a.navigation__link(href='#') Главная
            a.navigation__link(href='#') Запись
            a.navigation__link(href='#') Контакты
            a.navigation__link(href='#') Преподаватели
            a.navigation__link(href='#') Оставить отзыв
        +search('Search here...')