include ../base.pug
include ../../components/search/search.pug
include ../../components/header/header.pug
include ../../components/section/section.pug
include ../../components/user/user.pug
include ../../components/diagram/diagram.pug

+base('Наши преподаватели')
body
  .wrapper
    +header
    +section({ name: 'teachers', title: 'Наши преподаватели' })
      p.teachers__info Уроки танцев в нашей студии ведут опытные хореографы - молодые, творчески активные и креативные люди. Наши преподаватели - настоящие таланты, которые не только имеют специальное образование и мастерски танцуют, но и умеют научить своему искусству других. Постоянно шлифуя свое мастерство на мастер-классах и чемпионатах разного уровня, преподаватели "Dance City" в курсе всех танцевальных тенденций, поэтому программа тренировок постоянно обновляется. В нашей студии освоить любой танцевальный стиль - это ЛЕГКО! 
      h2.teachers__skills Skills
      .teacher__skills-list
        span.teacher__skill.teacher__skill_lightgrey Растяжка
        span.teacher__skill.teacher__skill_darkgrey Body control
        span.teacher__skill.teacher__skill_orange Speed control
        span.teacher__skill.teacher__skill_green Импровизация
      .teachers__list
        .teachers__item
          +user({ img: 'user1.jpg', name: 'Александр Иванов', profession: 'Break Dance' })
          +diagram({ parent: 'teachers' , values: [11, 26, 30] })
        .teachers__item
          +user({ img: 'user2.jpg', name: 'Катя Казанцева', profession: 'современная хореография', style: 'green' })
          +diagram({ parent: 'teachers' , values: [15, 55, 20] })
        .teachers__item
          +user({ img: 'user2.jpg', name: 'Нина Вербицкая', profession: 'восточные танцы' })
          +diagram({ parent: 'teachers' , values: [30, 50, 10] })
        .teachers__item
          +user({ img: 'user1.jpg', name: 'Паша Дягилев', profession: 'jazz funk', style: 'green' })
          +diagram({ parent: 'teachers' , values: [40, 20, 15] })
        .teachers__item
          +user({ img: 'user1.jpg', name: 'Александр Иванов', profession: 'Break Dance' })
          +diagram({ parent: 'teachers' , values: [34, 28, 8] })
        .teachers__item
          +user({ img: 'user2.jpg', name: 'Катя Казанцева', profession: 'современная хореография', style: 'green' })
          +diagram({ parent: 'teachers' , values: [55, 23, 12] })
        .teachers__item
          +user({ img: 'user2.jpg', name: 'Нина Вербицкая', profession: 'восточные танцы' })
          +diagram({ parent: 'teachers' , values: [11, 26, 30] })
        .teachers__item
          +user({ img: 'user1.jpg', name: 'Паша Дягилев', profession: 'jazz funk', style: 'green' })
          +diagram({ parent: 'teachers' , values: [45, 6, 38] })
        .teachers__item
          +user({ img: 'user1.jpg', name: 'Александр Иванов', profession: 'Break Dance' })
          +diagram({ parent: 'teachers' , values: [36, 25, 7] })
