include ~src/pages/base.pug
include ~src/components/site/navigation/navigation.pug
include ~src/components/site/header/header.pug
include ~src/components/site/teachers-section/teachers-section.pug
include ~src/components/site/section/section.pug
include ~src/components/kit/search/search.pug
include ~src/components/kit/user/user.pug
include ~src/components/kit/diagram/diagram.pug
include ~src/components/site/title/title.pug

+base('Наши преподаватели')
body
  .wrapper
    .wrapper__header
      +header
    .wrapper__section-container
      +teachers-section