mixin video(url)
    .player
        video.player__video(src='video/' + url)
        .player__controls
            button.player__button
            .player__progress
                .player__filled
            button.player__full
            