mixin arrowBtn({ active, direction })
    button.arrow-btn(class= active ? "" : "arrow-btn--disabled",
                    class= direction === "prev" ? "arrow-btn--prev" : "",
                    disabled= active!==true,
                    aria-label= direction === "prev" ? "Предыдущий" : "Следующий")
