.percent {
  width: 5.9375rem;
  height: 5.9375rem;
}
.percent__circle {
  stroke: $orange;
  stroke-width: .3125rem;
  transform: rotate(-90deg);
  transform-origin: center;
  fill: none;
}
.percent__text {
  font-family: Lato;
  text-anchor: middle;
  font-size: 2.5rem;
  line-height: 2.625rem;
  fill: $grey;
  font-weight: 300;
  transform: translateY(.3em);
}