.percent {
    width: 95px;
    height: 95px;
}
.percent__circle {
    stroke: $orange;
    stroke-width: 5px;
    transform: rotate(-90deg);
    transform-origin: center;
    fill: none;
}
.percent__text {
    font-family: Lato;
    text-anchor: middle;
    font-size: 40px;
    line-height: 42px;
    fill: $grey;
    font-weight: 300;
    transform: translateY(.3em);
}