@import '../../../style-config/variables.scss';

.main-btn {
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px solid;
  font-family: 'Lato';
  font-weight: 900;
  letter-spacing: .4px;
  overflow: hidden;
  position: relative;
  background-color: $white;
  border-bottom: none;

  &:hover {
    color: $white;
  }

  &_standart {
    font-size: .625rem;
    padding: .28rem .98rem;
  }

  &_big {
    font-size: .75rem;
    padding: .55rem 1.98rem;
  }

  &_green {
    color: $green;
    border-color: $green;
    box-shadow: 0px .2em 0px 0px $green;

    &:hover {
      background-color: $green;
      box-shadow: 0px .2em 0px 0px $darkgreen;
    }

    &_filled {
      background-color: $green;
      color: $white;
      border-bottom: .22em solid $darkgreen;
      box-sizing: border-box;
    }
  }

  &_orange {
    color: $orange;
    border-color: $orange;
    box-shadow: 0px .2em 0px 0px $orange;

    &:hover {
      background-color: $orange;
      box-shadow: 0px .2em 0px 0px $darkorange;
    }
  }

  &_ripple {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .7);
    position: absolute;
    transform: scale(0);
    animation: ripple .6s linear;
  }

  @keyframes ripple {
    to {
      transform: scale(2.5);
      opacity: 0;
    }
  }
}