mixin news({ title, img, date, text })
  article.news
    .news__image(style=`background-image: url('./images/${img}')`)
    .news__content
      span.news__title= title
      time.news__date= date
      p.news__description= text