include ~src/components/site/header/header.pug
include ~src/components/site/teachers-section/teachers-section.pug

mixin teachers-wrapper
  .teachers-wrapper
    .teachers-wrapper__header
      +header
    .teachers-wrapper__section-container
      +teachers-section