mixin map({ lat, lng, address })
  .map
    .map__container#map(data-lat= lat, data-lng= lng)
    .map__footer
      span.map__greeting Meet us!
      address.map__address= address
      .map__icons
        span.map__icon.map__icon--target
        span.map__icon.map__icon--pin
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_M2Pwf2qVeiWWUP0MuXOwOGPjTaVguAI&callback=initMap", defer)