include ~src/components/kit/news/news.pug
include ~src/components/kit/event/event.pug

mixin main-news({ news })
  .main-news
    each item in news
      .main-news__item
        if item.type === 'news'
          +news(item)
        else
          +event(item)